@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<header>
    Please check your email to reset your password. Please 
    <a asp-area="public" asp-controller="login" asp-action="Login">
        click here to log in
    </a>.
</header>