@{
    ViewData["Title"] = "Reset password confirmation";
}

<h2 class="text-danger">@ViewData["Title"]</h2>
<header>
    Your password has been reset. Please 
    <a asp-area="public" asp-controller="login" asp-action="Login">click here to log in</a>.
</header>